<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level -%m%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>e:/logs/today.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>e:/logs/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <logger name="com.cat.zsy.dao" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
    </root>
</configuration>